.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gap-15-wrapper {
    gap: 15px;
}

.gap-10-wrapper {
    gap: 10px;
}

.edit-wrapper {
    width: 161px;
    height: 32px;
    border-radius: 8px;
    gap: 8px;
    cursor: pointer;
}

.edit-wrapper:hover {
    background-color: rgba(66, 139, 249, 0.2);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.edit-wrapper:hover span {
    color: #336FEE;
}

.edit-wrapper:hover svg {
    filter: invert(38%) sepia(35%) saturate(5553%) hue-rotate(211deg) brightness(97%) contrast(93%);
}

.movie-page-header-wrapper {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
}

.main-info-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.main-info-wrapper img {
    width: 200px;
    height: 300px;
}

.gap-20-wrapper {
    gap: 20px;
}

.gap-5-wrapper {
    gap: 5px;
}

.actors-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sub-info-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 293px;
}

.movie-main-info-wrapper {
    padding: 0 20px 0 20px;
}

.width-100 {
    width: 100%;
}

.all-actors {
    color: #336FEE;
}

.description-title {
    margin-top: 45px;
    margin-bottom: 25px;
}

.rating {
    gap: 50px;
    margin-top: 8px;
    align-items: center;
}

.gray-color {
    color: #6C6C6C;
}

.red-color {
    color: red;
}

.green-color {
    color: green;
}